.columns {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem;

  &.no-gutter {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;

    > .column {
      margin: 0;
      padding: 0;
    }

  }

  @include media('>tablet') {
    display: flex
  }
}

.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.75rem;
}