/* Colors
   ========================================================================== */
$white: #fff;
$white-difference: #e3e3e3;
$black: #000;
$offwhite: #f0f2f2;
$red: #e54b4b;
$blue: #38489d;
$grey: #333333;

/* Easings
   ========================================================================== */
$easeOutQuad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$easeInOutQuad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
$easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
$easeInOutQuart: cubic-bezier(0.77, 0, 0.175, 1);

/* Global variables
   ========================================================================== */
$text-color: $grey;
$text-font-stack: "Montserrat", "Helvetica Neue Light", "Helvetica Neue",
  "Helvetica", "Arial", sans-serif;
$roboto-font-stack: "Roboto", "Helvetica Neue Light", "Helvetica Neue",
  "Helvetica", "Arial", sans-serif;

$gutter: 16px;

/* Breakpoints
  ========================================================================== */
$breakpoints: (
  phone: 425px,
  tablet: 768px,
  desktop: 1024px,
);
