@import "~normalize.css";
@import "~include-media/dist/_include-media.scss";
@import "variables";
@import "grid";
@import "utils";

html {
  min-height: 100%;
  min-width: 300px;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  transform-origin: 50% 50%;
}

body {
  color: $text-color;
  font: 1em / 1.3 $text-font-stack;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  overflow-y: scroll;
}

a {
  color: $text-color;
  text-decoration: none;

  .inner {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      display: block;
      bottom: -3px;
      left: 0;
      right: 0;
      height: 2px;
      background-color: $text-color;
      transform: scale3d(0, 1, 1);
      transform-origin: bottom right;
      transition: transform 0.5s $easeOutQuart;
    }
  }

  &:hover,
  &.router-link-active {
    .inner:after {
      transform-origin: bottom left;
      transform: scale3d(1, 1, 1);
    }
  }
}

img {
  display: block;
  max-width: 100%;
}

ul.no-style {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}

.page-title {
  margin: 0;
  font-size: 72px;
  line-height: 1.1;

  @include media("<=tablet") {
    font-size: 48px;
  }
}

.mask {
  overflow: hidden;
}

.mask--page-title {
  margin-top: 6.7vh;
  margin-bottom: 6.5rem;

  @include media("<=tablet") {
    margin-top: 38px;
    margin-bottom: 61px;
  }
}
